body{
background: #f3f0f0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

a,
a:hover
a:focus
{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*========
== Menu Bar ==
   =========*/

.navbar{
    background: rgb(218, 208, 208);
}

#menubar ul
{
    margin: auto
    
}

#menubar ul li
{
    margin-left: 50px;
    
}

#menubar ul a
{
    
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
}
 #menubar ul a:hover
 {
    color: #edf2f5;
    background: #676c6e;
    border-radius: 3px;
    transition: all 0.3s;
    
 }

 /*========
== Home Img Over Write ==
   =========*/

 .img-over-write
 {
    position: relative;
    text-align: center;
 }

 .contain-header
 {
     height: 500px;
     width: 100%;
     background-image: url(../img/bg-home-wall.jpg);
     background-size: cover;
     top: 10%;
 }

.myname
{
    margin-top: 200px;
    font-size: 3em;
    font-size: bolder;
    font-family: monospace;
    color: rgb(255, 255, 255);
    
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid black;
  }

 /*========
== About ME  ==
   =========*/


.ab-me h2
{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}


.ab-me h2::before
   {
    content: '';
    position: absolute;
    display: block;
    width: 135px;
    height: 1px;
    background: rgb(48, 47, 47);
    bottom: 1px;
    left: calc(50% - 70px); 
   }

.ab-me h2::after
{
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 25px);
}

.ab-con .row .ab-li ul
{
    padding: 12px;
}
.ab-con .row .ab-li ul li
{
    list-style: none;
    padding: 5px;
    border: 0px;
    margin: 0px;
}

.ab-con .row .ab-li ul i
{
    font-size: 20px;
  padding-right: 2px;
  color: #3ee994;
}

.portfolio-flters li
{
    list-style: none;
    float: left;
    display: inline;
    padding: 20px;
}

.portfolio-flters li:hover
{
    color: lawngreen;
    transition: all 0.3s;
}

.contain-img img:hover
{
    background-color: darkgray;
    animation: shake .06s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0%{transform: translate(1px,1px) rotate(1deg);   }
    10%{transform: translate(1px,1px) rotate(2deg);   }
    20%{transform: translate(1px,1px) rotate(3deg);   }
    30%{transform: translate(1px,1px) rotate(4deg);   }
    40%{transform: translate(1px,1px) rotate(5deg);   }
    50%{transform: translate(1px,1px) rotate(6deg);   }
    60%{transform: translate(1px,1px) rotate(7deg);   }
    70%{transform: translate(1px,1px) rotate(8deg);   }
    80%{transform: translate(1px,1px) rotate(9deg);   }
    90%{transform: translate(1px,1px) rotate(10deg);   }
    100%{transform: translate(1px,1px) rotate(11deg);   }
}

.contai-add ul {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 120%;
    padding: 10px;
}

.contai-add ul li i{
    padding: 15px !important;
    background-color: rgb(66, 114, 116);
    border-radius: 30px;
   
}

.contai-add ul li i:hover{
    background-color: cadetblue;
    padding: 22px;
   
}

.contai-add ul li a{
    text-decoration: none;
    color: green;
}



.btn-send .btn:hover {
    background-color: rgb(78, 150, 78) !important;
}


/* Services Area */ 

#service{
    padding: 7rem 2rem;
}


#service .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

#service .services:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.footer{
    margin-top: 30px;
    padding: 50px;
 background-color: #d9dcdf;
}

.footer .footer-text{
 
    text-align: center;
    text-shadow: darkgray;

}



.footer i{
    padding: 15px !important;
    background-color: rgb(66, 114, 116);
    border-radius: 30px;
}

.footer i:hover{
    background-color: cadetblue;
    padding: 22px;
}